aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
audioop-lts
certifi
discord.py
distro
dotenv
frozenlist
groq
h11
httpcore
httpx
idna
multidict
propcache
pydantic
pydantic_core
python-dotenv
sniffio
typing-inspection
typing_extensions
yarl
